body
{
    background-color: #222930;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
    font-size: 36px;
    font-weight: 400;
    color: #2CBFA4;
    margin: 20px;
}

.color
{
    color: #2CBFA4;
}

.jumpers
{
    text-align: center;
    padding: 0;
}

.jumpers img
{
    width: 100%;
    height: 100%;
}

.jumpers p
{
    margin-bottom: 30px;
}

.jumpers figcaption
{
    margin-top: 8px;
}

.bg-jumpers
{
    background-color: #2CBFA4 !important;
}

.list-group-item-dark
{
    background-color: #222930;
    color: white;
}

.list-group-item-dark:hover
{
    background-color: #2CBFA4 !important;
}

.list-group .active
{
    background-color: #2CBFA4 !important;
    cursor: default;
}

.wpis
{
    text-align: justify;
    font-size: 16px;
    padding: 30px;
    margin-bottom: 40px;
}
.blockquote
{
    line-height: 120%;
}

@media (max-width: 575px)
{
    .wpis
    {
        margin: 40px 20px;
        text-align: left;
        font-size: 15px;
    }
    .float-left, .float-right
    {
        max-width: 50%;
    }
    .blockquote
    {
        font-size: 17px;
    }
    .list-group
    {
        text-align: center;
    }
}